<div class="body">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#reservaCadastroModal">
    + Reserva
  </button>

  <!-- Modal Cadastro -->
  <div class="modal fade" id="reservaCadastroModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nova reserva</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="criarReserva()">
            <div class="mb-3">
              <label class="form-label" for="statusPagamento">Hóspede</label>
              <select class="form-control mb-3" id="idHospede"  name="idHospede" [(ngModel)]="novaReserva.idHospede">
                <option *ngFor="let hospede of hospedes" value="{{ hospede.id }}">{{ hospede.nome }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label" for="statusPagamento">Acomodação</label>
              <select class="form-control mb-3" id="idAcomodacao"  name="idAcomodacao" [(ngModel)]="novaReserva.idAcomodacao">
                <option *ngFor="let acomodacao of acomodacoes" value="{{ acomodacao.id }}">{{ acomodacao.nome }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label" for="dataInicial">Data Reserva</label>
              <input class="form-control" id="dataInicial" name="dataInicial" type="date" placeholder="Data Reserva" required [(ngModel)]="novaReserva.dataInicial"/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="qtdDiarias">Quantidade Diárias</label>
                <input class="form-control" id="qtdDiarias" name="qtdDiarias" type="number" placeholder="Quantidade Diárias" required  [(ngModel)]="novaReserva.qtdDiarias"/>
            </div>
            <div class="mb-3">
              <label class="form-label" for="statusReserva">Status Reserva</label>
              <select class="form-control mb-3" id="statusReserva" name="statusReserva" [(ngModel)]="novaReserva.statusReserva">
                <option value="PENDENTE" selected>Pendente</option>
                <option value="EM_ANDAMENTO">Em andamento</option>
                <option value="FINALIZADA">Finalizada</option>
                <option value="CANCELADA">Cancelada</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label" for="statusPagamento">Status Pagamento</label>
              <select class="form-control mb-3" id="statusPagamento" name="statusPagamento" [(ngModel)]="novaReserva.statusPagamento">
                <option value="PENDENTE" selected>Pendente</option>
                <option value="PAGO">Pago</option>
                <option value="CANCELADO">Cancelado</option>
              </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="dataCheckIn">Data Check-In</label>
                <input class="form-control" id="dataCheckIn" name="cargo" type="date" placeholder="Data Check-in" required  [(ngModel)]="novaReserva.dataCheckIn"/>
            </div>
            <div class="mb-3">
              <label class="form-label" for="dataCheckOut">Data Check-Out</label>
              <input class="form-control" id="dataCheckOut" name="dataCheckOut" type="date" placeholder="Data Check-out" required [(ngModel)]="novaReserva.dataCheckOut"/>
            </div>
            <div class="mb-3">
              <label class="form-label" for="valorTotal">Valor total</label>
              <input class="form-control" id="valorTotal" name="valorTotal" type="number" placeholder="Valor total" required [(ngModel)]="novaReserva.valorTotal"/>
          </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#reservaCadastroModal">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal Edição -->
    <div class="modal fade" id="reservaEdicaoModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editando Reserva</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="atualizarReserva()">
              <div class="mb-3">
                <label class="form-label" for="idHospede">Hóspede</label>
                <select class="form-control mb-3" id="idHospede"  name="idHospede" [(ngModel)]="reservaEditada.idHospede">
                  <option *ngFor="let hospede of hospedes" value="{{ hospede.id }}" [attr.selected]="hospede.id == reservaEditada.idHospede">{{ hospede.nome }}</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label" for="idAcomodacao">Acomodação</label>
                <select class="form-control mb-3" id="idAcomodacao"  name="idAcomodacao" [(ngModel)]="reservaEditada.idAcomodacao">
                  <option *ngFor="let acomodacao of acomodacoes" value="{{ acomodacao.id }}" [attr.selected]="acomodacao.id == reservaEditada.idAcomodacao">{{ acomodacao.nome }}</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label" for="dataInicial">Data Reserva</label>
                <input class="form-control" id="dataInicial" name="dataInicial" type="date" datetime="yyyy-MM-dd" placeholder="Data Reserva" required [(ngModel)]="reservaEditada.dataInicial"/>
              </div>
              <div class="mb-3">
                  <label class="form-label" for="qtdDiarias">Quantidade Diárias</label>
                  <input class="form-control" id="qtdDiarias" name="qtdDiarias" type="number"  datetime="yyyy-MM-dd" placeholder="Quantidade Diárias" required  [(ngModel)]="reservaEditada.qtdDiarias"/>
              </div>
              <div class="mb-3">
                <label class="form-label" for="statusReserva">Status Reserva</label>
                <select class="form-control custom-select custom-select-lg mb-3" id="statusReserva"  name="statusReserva" [(ngModel)]="reservaEditada.statusReserva">
                  <option value="PENDENTE" selected>Pendente</option>
                  <option value="EM_ANDAMENTO">Em andamento</option>
                  <option value="FINALIZADA">Finalizada</option>
                  <option value="CANCELADA">Cancelada</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label" for="statusPagamento">Status Pagamento</label>
                <select class="form-control custom-select custom-select-lg mb-3" id="statusPagamento"  name="statusPagamento" [(ngModel)]="reservaEditada.statusPagamento">
                  <option value="PENDENTE" selected>Pendente</option>
                  <option value="PAGO">Pago</option>
                  <option value="CANCELADO">Cancelado</option>
                </select>
              </div>
              <div class="mb-3">
                  <label class="form-label" for="dataCheckIn">Data Check-In</label>
                  <input class="form-control" id="dataCheckIn" name="cargo" type="date" placeholder="Data Check-in" required  [(ngModel)]="reservaEditada.dataCheckIn"/>
              </div>
              <div class="mb-3">
                <label class="form-label" for="dataCheckOut">Data Check-Out</label>
                <input class="form-control" id="dataCheckOut" name="dataCheckOut" type="date" placeholder="Data Check-out" required [(ngModel)]="reservaEditada.dataCheckOut"/>
              </div>
              <div class="mb-3">
                <label class="form-label" for="valorTotal">Valor Total</label>
                <input class="form-control" id="valorTotal" name="valorTotal" type="number" placeholder="Quantidade Diárias" required  [(ngModel)]="reservaEditada.qtdDiarias"/>
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="limparObjetoEdicao()">Cancelar</button>
                <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#reservaEdicaoModal">Atualizar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  <div>
    <table class="table table-striped listagem table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Hóspede</th>
          <th scope="col">Acomodação</th>
          <th scope="col">Data Reserva</th>
          <th scope="col">Diárias</th>
          <th scope="col">Check-In</th>
          <th scope="col">Check-Out</th>
          <th scope="col">Status Reserva</th>
          <th scope="col">Valor</th>
          <th scope="col">Status Pagamento</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of reservas">
          <td>{{ reserva.id }}</td>
          <td>{{ getDescricaoHospede(reserva.idHospede) }}</td>
          <td>{{ getDescricaoAcomodacao(reserva.idAcomodacao) }}</td>
          <td>{{ formatData(reserva.dataInicial) }}</td>
          <td>{{ reserva.qtdDiarias }}</td>
          <td>{{ formatData(reserva.dataCheckIn) }}</td>
          <td>{{ formatData(reserva.dataCheckOut) }}</td>
          <td>
            <span class="badge bg-{{ 
              reserva.statusReserva === 'PENDENTE' ? 'warning' : 
              reserva.statusReserva === 'EM_ANDAMENTO' ? 'primary' :
              reserva.statusReserva === 'FINALIZADA' ? 'success' : 
              reserva.statusReserva === 'CANCELADA' ? 'danger' :
              'secondary'
            }}">
              {{ reserva.statusReserva }}
            </span> 
          </td>
          <td>{{ reserva.valorTotal | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</td>
          <td>
            <span class="badge bg-{{ 
              reserva.statusPagamento === 'PENDENTE' ? 'warning' : 
              reserva.statusPagamento === 'PAGO' ? 'success' :
              reserva.statusPagamento === 'CANCELADO' ? 'danger' :
              'secondary'
            }}">
              {{ reserva.statusPagamento }}
            </span> 
          </td>

          <td style="text-align: right;">
            <button type="button" class="btn btn-sm" aria-label="Left Align" data-toggle="modal" data-target="#reservaEdicaoModal" (click)="copiarObjetoEdicao(reserva)">
              <span class="fa fa-pencil fa-md" aria-hidden="true"></span></button>

              <button type="button" class="btn btn-sm" aria-label="Left Align" (click)="excluirReserva(reserva.id)">
                <span class="fa fa-trash-o fa-md" aria-hidden="true"></span></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
