<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="login()">
      <div class="input-group">
        <label for="usuario">Usuário</label>
        <input type="text" id="usuario" [(ngModel)]="usuario" name="usuario" required placeholder="Digite seu usuário" />
      </div>
      <div class="input-group">
        <label for="senha">Senha</label>
        <input type="password" id="senha" [(ngModel)]="senha" name="senha" required placeholder="Digite sua senha" />
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <button type="submit" class="login-button">Entrar</button>
    </form>
  </div>