/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h5 { font-size: 14px; }

.table {
  table-layout: fixed;
  width: 100%;
}

.table td, .table th {
  word-wrap: break-word;
  overflow: hidden;
  white-space: nowrap;
}

.fc-toolbar-title {
  text-transform: capitalize;
}

.fc-col-header-cell-cushion {
  color: black;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: normal;
}

.fc-daygrid-day-number {
  color: black;
  text-decoration: none;
}

.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  width: auto;
}

.pagination-controls .items-per-page {
  display: flex;
  align-items: center;
  gap: 5px;
}

.pagination-controls .pagination-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-left: auto;
}

.pagination-controls .pagination-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.pagination-controls .pagination-button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.pagination-controls .pagination-info {
  margin: 0 10px;
  font-size: 14px;
}

.pagination-controls select {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-left: 5px;
  width: 80px;
}